<div class="transaction-form">
    <h2>Delete Transaction</h2>
    <form [formGroup]="transactionForm" (ngSubmit)="onDelete()">
      <label for="transactionId">Transaction ID:</label>
      <input type="text" id="transactionId" formControlName="transactionId">
      <div *ngIf="transactionForm.controls['transactionId'].invalid && (transactionForm.controls['transactionId'].dirty || transactionForm.controls['transactionId'].touched)">
        <div *ngIf="transactionForm.controls['transactionId'].errors['required']">Transaction ID is required.</div>
      </div>
      
      <button type="submit" [disabled]="transactionForm.invalid">Delete Transaction</button>
    </form>
  </div>
  