<div>
    <h2 >Spending Habits of Customers</h2>
</div>
<div class="spending-dropdown">
    <select (change)="generateChart($event)">
        <option value="gender">By Gender</option>
        <option value="category">By Category</option>
        <option value="merchant">By Merchant</option>
        <option value="city">By City</option>
        <option value="state">By State</option>
      </select>
</div>
<br> <br>
<div class="spending-history">
    <canvas id="myChart" #pieChartCanvas></canvas>
</div>