<div class="customer-list">
    <h2>Customers List</h2>
    <table>
      <thead>
        <tr>
          <th>Customer ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Gender</th>
          <th>Job</th>
          <th>Date of Birth</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{ customer.id }}</td>
          <td>{{ customer.customerId }}</td>
          <td>{{ customer.first }}</td>
          <td>{{ customer.last}}</td>
          <td>{{ customer.gender }}</td>
          <td>{{ customer.job }}</td>
          <td>{{ customer.dob }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  