<div class="transaction-list">
    <h2>Transactions List</h2>
    <table>
      <thead>
        <tr>
          <th>Date and Time</th>
          <th>Amount</th>
          <th>Transaction Number</th>
          <th>Customer ID</th>
          <th>City</th>
          <th>State</th>
          <th>City Population</th>
          <th>Merchant</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions">
          <td>{{ transaction.trans_date_trans_time }}</td>
          <td>{{ transaction.amt }}</td>
          <td>{{ transaction.trans_num }}</td>
          <td>{{ transaction.customer_id }}</td>
          <td>{{ transaction.city }}</td>
          <td>{{ transaction.state }}</td>
          <td>{{ transaction.city_population }}</td>
          <td>{{ transaction.merchant }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  