<div class="card-form">
    <h2>Add Card</h2>
    <!-- Form controls for card details -->
    <form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
      <!-- Card number input -->
      <label for="cardNumber">Card Number:</label>
      <input type="text" id="cardNumber" formControlName="cardNumber">
      <div *ngIf="cardForm.controls['cardNumber'].invalid && (cardForm.controls['cardNumber'].dirty || cardForm.controls['cardNumber'].touched)">
        <div *ngIf="cardForm.controls['cardNumber'].errors['required']">Card number is required.</div>
        <div *ngIf="cardForm.controls['cardNumber'].errors['pattern']">Invalid card number.</div>
      </div>
      <!-- Other form controls for cardholder name, expiration date, etc. --><br>
       <!-- Cardholder name input -->
    <label for="cardholderName">Cardholder Name:</label>
    <input type="text" id="cardholderName" formControlName="cardholderName">
    <div *ngIf="cardForm.controls['cardholderName'].invalid && (cardForm.controls['cardholderName'].dirty || cardForm.controls['cardholderName'].touched)">
      <div *ngIf="cardForm.controls['cardholderName'].errors['required']">Cardholder name is required.</div>
    </div>
    <br>
    <!-- Expiration date input -->
   
      <!-- Submit button -->
      <button type="submit" [disabled]="cardForm.invalid">Add Card</button>
    </form>
  </div>
  